%nav_text {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #242635;
}

%heading_1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102px;
  letter-spacing: -2px;
  color: #242635;
}

%paragraph_text {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #242635;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .section {
      max-width: 90vw;
      height: 100vh;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &--header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 5%;
        }

        &--text h1 {
          @extend %heading_1;
        }

        &--text p {
          @extend %paragraph_text;
        }
      }

      &__pic {
        width: 100%;

        & img {
          width: auto;
          height: 100%;
        }
      }
  }
  
  .topnav {
    overflow: hidden;
    background-color: transparent;
    list-style-type: none;
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .topnav a {
    @extend %nav_text;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
      display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    }